/*XS*/
@media(max-width: 767px){
	.xs-text-center{
		text-align: center;
	}

	.sm-text-center{
		text-align: center;
	}

	.md-text-center{
		text-align: center;
	}

	.lg-text-center{
		text-align: center;
	}
}

/*SM*/
@media(min-width: 768px) and (max-width: 991px){
	.sm-text-center{
		text-align: center;
	}

	.md-text-center{
		text-align: center;
	}

	.lg-text-center{
		text-align: center;
	}
}

/*MD*/
@media(min-width: 992px) and (max-width: 1199px){
	.md-text-center{
		text-align: center;
	}

	.lg-text-center{
		text-align: center;
	}
}

/*LG*/
@media(min-width: 1200px){
	.lg-text-center{
		text-align: center;
	}
}

/*Media queries end here*/