body{
	background-color: #F6F5F0;
	/*background: url('../img/palewoodpanel.jpg') center center fixed;*/
}

.container{
	padding-top: 15px;
}

.container .jumbotron{
	margin-top: 20px;
	border-radius: 0px;
	background-color: transparent;
	color: #333333;
}

h1, h2, h3, h4, p, ul li, .navbar-header{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #333333;
}

.navbar-default{
	background-color: inherit;
	border-style: none;
}

.navbar-default .navar-collapse.in{
	background-color: inherit;
	border-style: none;
}

.navbar-static-bottom{
	margin-top: 90px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.navbar-default .navbar-nav li a{
	color: #333333;
}

.navbar .nav > li.dropdown.open > a{
	background: transparent;
}

ul .dropdown-menu{
	background-color: #ffffff;
}

ul .dropdown-menu li a:hover{
	background-color: #333333;
	color: #ffffff;
}

.navbar-nav .open .dropdown-menu{
	background-color: #F6F5F0;
	/*background: url('../img/palewoodpanel.jpg');*/
}

.element{
	display: inline;
}

/*typed cursor*/
#typed-cursor{
    opacity: 1;
    font-weight: 100;
    font-size: 30px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*div{
	border-style: solid;
	border-width: 1px;
}*/