#summaries{
	padding: 7% 10%;
	/* min-height: 100vh; */
	color: #FFFFFF;
	background: #333333;
	box-shadow: 0px 2px 10px rgba(175, 171, 171, 0.9);
}
#cv{
	padding: 2% 10%;
	color: #333333;
}
.banner-text{
	margin-bottom: 10%;
}
.banner-text h1{
	font-size: 4.5rem;
}
a, a:hover{
	text-decoration: none;
	color: inherit;
}
a:nth-child(even){
	color: #FFFFFF;
}
a:nth-child(odd){
	color: #E2F237;
} 
hr{
	background: rgba(252, 247, 247, 0.1);
	width: 70%;
}
table{
	font-size: 0.87rem;
}
.footer-text{
	color: #333333;
	font-size: 0.8rem;
	text-justify: auto;
}

/*div{
	border-style: solid;
	border-width: 1px;
}*/