body{
	padding-top: 50px;
	padding-bottom: 50px;
}

.container .jumbotron{
	background-color: transparent;
}
.jumbotron{
	margin-bottom: 0px;
}

.links{
	padding-top: 50px;
	padding-bottom: 15px;
}

h1, h2, h3, h4, p, ul li{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}

#link-alert{
	color: #FFC107;
}

.element{
	font-size: 15px;
}

a, a:hover{
	text-decoration: none;
	color: inherit;
}

.content a:nth-child(even){
	color: #333333;
}
.content a:nth-child(odd){
	color: #888888;
}

/*typed cursor*/
#typed-cursor{
	visibility: hidden;
    opacity: 1;
    font-weight: 100;
    font-size: 20px;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*div{
	border-style: solid;
	border-width: 1px;
}*/