/*Class definitions begin here*/

.show {
	border: 1px solid black;
	background-color: #c0c0c0;
	height: 30px;
}

.highlight{
	border: 1px solid black;
	background-color: red;
	height: 30px;
}

.profile_picture{
	width: 200px;
	height: 135px;
	border: 1px solid #bbb;
	border-radius: 5px;
}

.header{
	margin-left: auto;
	margin-right: auto;
}


/*Class definitions end here*/

/*Media queries begin here*/

/*Task 7*/
@media (max-width: 767px) {
  .color-change{
  	background-color: red;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .color-change{
  	background-color: blue;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .color-change{
  	background-color: black;
  	color: white;
  }
}

@media (min-width: 1200px) {
  .color-change{
  	background-color: green;
  }
}

/*END Task 7*/

/*XS*/
@media(max-width: 767px){
	.xs-text-center{
		text-align: center;
	}

	.sm-text-center{
		text-align: center;
	}

	.md-text-center{
		text-align: center;
	}

	.lg-text-center{
		text-align: center;
	}
}

/*SM*/
@media(min-width: 768px) and (max-width: 991px){
	.sm-text-center{
		text-align: center;
	}

	.md-text-center{
		text-align: center;
	}

	.lg-text-center{
		text-align: center;
	}
}

/*MD*/
@media(min-width: 992px) and (max-width: 1199px){
	.md-text-center{
		text-align: center;
	}

	.lg-text-center{
		text-align: center;
	}
}

/*LG*/
@media(min-width: 1200px){
	.lg-text-center{
		text-align: center;
	}
}

/*Media queries end here*/

ul{
	list-style: none;
}